<app-navbar></app-navbar>
<nav class="navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <div class="img-container">
        <img src="../../../assets/home.png" alt="">
      </div></a>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
<router-outlet></router-outlet>
